@import "custom";

:root {
  --headerHeight: 100vh;
  --headerWidth: 100vw;
}

#page {
  background-color: #282c34;
  color: white;
}

.logoHeader {
  background-color: #282c34;
  min-height: var(--headerHeight);
  min-width: var(--headerWidth);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position:fixed;
  z-index: -1;
  top: 0;
}

#separator {
  margin-top: var(--headerHeight);
}

#body {
  background-color: rgb(43, 43, 43);
  min-height: 100vh;
  min-width: 100vh;
  border-radius: 10px;
  margin-left: 0;
  margin-right: 0;
  align-items: center;
  justify-content: center;
  display: flexbox;
  @media (min-width: 720px)
  {
    margin-left: 1vw;
    margin-right: 1vw;
  }
}
