@import "../custom.scss";

hr {
    min-width: 100%;
}

#body-header {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 4vmin;
    width: 100%;
    min-height:3vh;
}

#body-text {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 1vw;
    min-width: 100%;
    padding: 1vh 1vw;
    
}

@media (max-width: 1200px) {
    #body-text {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
}

@media (max-width: 800px) {
    #body-text {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

@media (max-width: 600px) {
    #body-text {
        display: grid;
        grid-template-columns: auto auto;
    }
}

#body-text .test {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    min-width: 100%;
    padding: 20%;
    font-size: 30px;
    text-align: center;
}


#body {
    background-color: rgb(43, 43, 43);
    min-height: 100vh;
    min-width: 99vmin;
    border-radius: 3vmin;
    border-width: 1vmin;
    border: solid;
    border-color: white;
    margin-left: 0;
    margin-right: 0;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    @media (min-width: 720px)
    {
      margin-left: 1vw;
      margin-right: 1vw;
    }
  }