@import "../custom.scss";

hr {
    min-width: 100%;
}

#body-header {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 4vmin;
    width: 100%;
    min-height:3vh;
}

#body-text {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 1vw;
    min-width: 100%;
    padding: 1vh 1vw;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

@media screen and (max-width: 1200px) {
    #body-text {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    #body-text .test h1 {
        font-size: 1.5vw;
    }
    
}

@media screen and (max-width: 800px) {
    #body-text {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    #body-text .test h1 {
        font-size: 2vw;
    }
}

@media screen and (max-width: 600px) {
    #body-text {
        display: grid;
        grid-template-columns: auto auto;
    }

    #body-text .test h1 {
        font-size: 2.5vw;
    }
}


@media screen and (max-width: 300px) {
    #body-text {
        display: grid;
        grid-template-columns: auto;
    }

    #body-text .test h1 {
        font-size: 3vw;
    }
}

#body-text .test h1 {
    font-size: 1vw;
    padding: 0;
    margin: 0;
    border: 0;
}

#body-text .test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 30, 30);
    border: 0.2vmin solid white;
    border-radius: 2vmin;
    min-width: 100%;
    padding: 2vh 5%;
    font-size: 0.8vw;
    text-align: center;
}


#body {
    background-color: rgb(43, 43, 43);
    min-height: 100vh;
    min-width: 99vmin;
    border-radius: 3vmin;
    border-width: 1vmin;
    border: solid;
    border-color: white;
    margin-left: 0;
    margin-right: 0;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    @media (min-width: 720px)
    {
      margin-left: 1vw;
      margin-right: 1vw;
    }
  }